<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.droid.ashref.smartcontrol">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        tools:replace="android:supportsRtl"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Chart"></activity>
        <activity android:name=".All_Devices" />
        <activity android:name=".Edit_ROOM" />
        <activity android:name=".All_Rooms" />



        <activity android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".ADD_Device" />

        <activity
            android:name=".Modified"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name=".Information"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity android:name=".Edit_Mood" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>